*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  font-family:'Roboto', sans-serif;
  font-size: 14px;
}

.fc-container{
  height: 100vh;
  width: 100%;
  background: linear-gradient(to top, #D3DBDC, #DDDBD1 50%, #eee 85%, #249688 75%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.window-container{
  display: flex;
  height: 95%;
  width: 85%;
  background-color: white;
}

.container-users-global{
  width: 30%;
  height: 100%;
  background-color: white;
  overflow-y: auto;
}
.container-chat{
  width: 70%;
  min-width: 550px;
  background-image: url(../img/mine.jpg);
}

.header-user, .header-chat{
 display: flex;
 justify-content: space-between;
 align-items: center;
 height: 75px;
 background-color: #EAEAEA;
 border: 1px solid lightgray;
}

.logo-user-header{
  display: flex;
  width: 200px;
  height: 100%;
}

.logo-users img{
  width: 100%;
}

.icons-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 160px;
  height: 100%;
}

.icon{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 100%;
  color: rgb(167, 162, 162);
  font-size: 22px;
  cursor: pointer;
}

.user-content{
  display: flex;
  height: 75px;
  cursor: pointer;
}
.user-content.remove-user{
  display: flex;
  height: 75px;
  cursor: pointer;
  display: none;
}

.user-content-header{
  display: flex;
  height: 75px;
  cursor: pointer;
  width: 500px;
}

.user-content:hover{
  background-color: #f4f8f8
}

.user-content.active{
  background-color: #E9EBEB
}

.user-content.blue{
  /* display: block; */
  background-color: #8EDAFD;
  overflow: hidden;
}

.input-cerca{
  display: flex;
  width: 95%;
  height: 45px;
  border: 1px solid rgb(240, 233, 233);
  margin: 10px auto;
  border-radius: 5px;
  padding-left: 10px;
}

.input-cerca input{
  outline:none;
}

.logo-users{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 73px;
  height: 73px;
  overflow: hidden;
  border-radius: 50%;
}

.container-search{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  color:rgb(167, 162, 162);
  font-size: 20px;
}

.logo-users .fa-search{
  font-size: 20px;
  color: rgb(20, 14, 14)
}

.text-users{
  display: flex;
  align-items: center;
  width: calc(100% - 80px);
  height: 100%;
  border: none;
  
}

.text-users strong{
  padding-left: 10px;
}

.text-users-dynamics{
  display: block;
  width: calc(100% - 100px);
  height: 100%;
  margin-left: 10px;
  padding-top: 10px;
  
}

.logo-users .fa-bell-slash{
  font-size: 25px;
  background-color: white;
  border-radius: 50%;
  padding: 10px;
  color: #8EDAFD;
}

.container-text-users{
  position: relative;
  color: black;
  width: 100%;
  padding-left: 5px;
} 

.container-text-users-header{
  position: relative;
  color: black;
  width: 100%;
  padding-left: 5px;
}


.container-text-users span{
  display: block;
  position:absolute;
  top: 0;
  right: 2px;
  font-size: 10px;
  color: #9ea4a5;
}

.user-content.blue p{
  text-decoration: underline;
  color: gray;
  font-size: 13px;
}

.container-chat p, .container-user-dynamics p{
  color: gray;
  font-size: 13px;
}

.icons-header-chat{
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-main-chat{
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100% - 150px);
  overflow: auto;
}

.chat-input{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 75px;
  width: 100%;
  background-color: #F4EDEA;
}

.chat-model{
  width: 85%;
  height: 70%;
  border: none;
  border-radius: 10px;
  padding-left: 10px;
  outline: none;
}

.emoticons, .vocal-message{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  font-size: 25px;
  color:rgb(136, 130, 130);
  cursor: pointer;
}

.container-inside-main-chat{
  width: 80%;
  height: 80%;
}

.chat-message{
  display: flex;
  flex-direction: column;
  align-content: center;
  min-height: 50px;
}

.sent, .received{
  position: relative;
  display: flex;
  align-items: center;
  align-self: end;
  min-height: 45px;
  width: 300px;
  background-color: #D5FABA;
  border-radius: 5px;
  padding: 10px;
  overflow-wrap: break-word;
  word-break: break-word;
}

.sent .fa-chevron-down, .received .fa-chevron-down{
  position: absolute;
  right: 5px;
  color:rgb(167, 162, 162);
  cursor: pointer;
  opacity: 0;
}

.sent .fa-chevron-down:hover, .received .fa-chevron-down:hover{
  opacity: 1;
}

.sent p, .received p{
  position: absolute;
  bottom: 2px;
  right: 4px;
  font-size: 8px;
}

.received{
  align-self: start;
  background-color: white;
}

.menu-drop{
  position: absolute;
  right: 0;
  bottom: -80px;
  width: 150px;
  /* height: 100px; */
  background-color: white;
  z-index: 999;
  display: none;
}

.menu-drop.visible{
 display: block;
}

.menu-drop ul{
  list-style: none;
}

.menu-drop ul li{
  padding: 13px;
  font-size: 13px;
  cursor: pointer;
}

@media (max-width: 1000px) {
  .container-text-users span{
    display: none;
  }
  
}

@media (max-width: 700px) {

  .text-users-dynamics{
    display: none;
  }

  .container-text-users h4, .container-text-users p{
    display: none;
  }

}